@charset "UTF-8";
@font-face {
  font-family: 'GeorgiaRegular';
  src: url("../../assets/fonts/GeorgiaRegular.eot");
  src: url("../../assets/fonts/GeorgiaRegular.eot") format("embedded-opentype"), url("../../assets/fonts/GeorgiaRegular.woff2") format("woff2"), url("../../assets/fonts/GeorgiaRegular.woff") format("woff"), url("../../assets/fonts/GeorgiaRegular.ttf") format("truetype"), url("../../assets/fonts/GeorgiaRegular.svg#GeorgiaRegular") format("svg"); }

@font-face {
  font-family: 'Arialregular';
  src: url("../../assets/fonts/Arialregular.eot");
  src: url("../../assets/fonts/Arialregular.eot") format("embedded-opentype"), url("../../assets/fonts/Arialregular.woff2") format("woff2"), url("../../assets/fonts/Arialregular.woff") format("woff"), url("../../assets/fonts/Arialregular.ttf") format("truetype"), url("../../assets/fonts/Arialregular.svg#Arialregular") format("svg"); }

@font-face {
  font-family: 'ArialItalic';
  src: url("../../assets/fonts/ArialItalic.eot");
  src: url("../../assets/fonts/ArialItalic.eot") format("embedded-opentype"), url("../../assets/fonts/ArialItalic.woff2") format("woff2"), url("../../assets/fonts/ArialItalic.woff") format("woff"), url("../../assets/fonts/ArialItalic.ttf") format("truetype"), url("../../assets/fonts/ArialItalic.svg#ArialItalic") format("svg"); }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
html {
  width: 100%;
  overflow-x: hidden; }

body {
  background-color: #E5E5E5;
  width: 100%;
  overflow-x: hidden;
  position: relative; }

.wrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

h3 {
  font-family: "GeorgiaRegular", sans-serif;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #545454; }

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 1280px;
  height: 120px;
  left: -webkit-calc(50% - 640px);
  left: calc(50% - 640px);
  background-color: #fff; }
  header .wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  header ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 443px;
    height: 28px; }
    header ul .nav_active {
      color: #545454; }
      header ul .nav_active:after {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1); }
    header ul a {
      color: #545454;
      font-family: "Arialregular", sans-serif;
      line-height: 24px;
      font-size: 15px;
      font-weight: 400;
      position: relative;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
      header ul a:after {
        position: absolute;
        content: '';
        background-color: #F1CDB3;
        width: 100%;
        height: 3px;
        bottom: -6.5px;
        left: 0;
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      header ul a:hover {
        color: #292929; }

.logo {
  width: 186px; }
  .logo h1 {
    padding-top: 1px;
    color: #545454;
    font-size: 32px;
    font-family: "GeorgiaRegular", sans-serif;
    margin-bottom: 9px;
    line-height: 110%;
    letter-spacing: 0.06em; }
  .logo_subtitle {
    font-size: 13px;
    color: #292929;
    letter-spacing: 0.1em;
    font-family: "Arialregular", sans-serif;
    font-weight: 400;
    line-height: 15px;
    padding-left: 5px; }

.pets-page {
  width: 1280px;
  height: 1342px;
  background-color: #F6F6F6;
  margin: 0 auto;
  padding-top: 80px; }
  .pets-page .wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start; }
  .pets-page h3 {
    padding-left: 2px;
    width: 402px;
    height: 90px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 45px; }
  .pets-page__content {
    width: 100%; }
    .pets-page__content_pets {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 930px;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-align-content: space-between;
          -ms-flex-line-pack: justify;
              align-content: space-between;
      padding: 15px 0;
      margin-bottom: 45px; }
    .pets-page__content_controls {
      width: 340px;
      height: 52px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .pets-page__content_controls .button {
        -webkit-tap-highlight-color: transparent;
        border: 2px solid #F1CDB3;
        width: 52px;
        height: 52px;
        border-radius: 100px;
        cursor: pointer;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        font-family: "GeorgiaRegular", sans-serif;
        font-size: 20px;
        line-height: 115%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        letter-spacing: 0.06em;
        color: #292929;
        background-color: #f6f6f6; }
        .pets-page__content_controls .button.active {
          background-color: #F1CDB3; }
        .pets-page__content_controls .button:hover {
          background-color: #FDDCC4;
          border: 2px solid #FDDCC4; }
        .pets-page__content_controls .button:active {
          -webkit-box-shadow: inset 0px 0px 7px 2px #F1CDB3;
                  box-shadow: inset 0px 0px 7px 2px #F1CDB3;
          -webkit-transform: translate(2px, 2px);
              -ms-transform: translate(2px, 2px);
                  transform: translate(2px, 2px); }
        .pets-page__content_controls .button:disabled {
          color: #CDCDCD;
          border: 2px solid #CDCDCD; }
        .pets-page__content_controls .button:hover:disabled {
          background-color: transparent; }

.pets__tile {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  text-align: center;
  cursor: pointer;
  border-radius: 9px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .pets__tile:hover {
    -webkit-box-shadow: 0px 0px 50px 7px #cacaca;
            box-shadow: 0px 0px 50px 7px #cacaca;
    background-color: #fff; }
  .pets__tile img {
    width: 270px;
    height: 270px; }

.tile_title {
  margin: 30px 0 30px;
  padding-left: 2px;
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  font-family: "GeorgiaRegular", sans-serif;
  font-weight: 400; }

.tile_button {
  -webkit-tap-highlight-color: transparent;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  margin: 0 auto;
  border-radius: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #292929;
  letter-spacing: 0.06em;
  font-size: 17px;
  line-height: 130%;
  font-family: "GeorgiaRegular", sans-serif;
  font-weight: 400;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s; }
  .tile_button:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4; }
  .tile_button:active {
    -webkit-transform: translate(2px, 2px);
        -ms-transform: translate(2px, 2px);
            transform: translate(2px, 2px); }

footer {
  width: 1280px;
  height: 350px;
  margin: 0 auto;
  background: url("../../assets/images/bg_footer.jpg") no-repeat 50%/cover;
  padding-top: 39px; }
  footer .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    footer .wrapper .footer_img {
      margin-top: 1px; }

.content {
  padding-top: 17px;
  margin-right: 159px;
  width: 279px;
  height: 234px; }
  .content h3 {
    color: #fff;
    margin-bottom: 39px; }
  .content:nth-child(2) {
    width: 303px; }
    .content:nth-child(2) h3 {
      padding-left: 1px;
      margin-bottom: 33px; }
    .content:nth-child(2) div:nth-child(2) {
      margin-bottom: 32px; }
      .content:nth-child(2) div:nth-child(2) img {
        padding-bottom: 0px;
        width: 22px;
        height: 32px; }
  .content_contact {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .content_contact img {
      margin-right: 20px; }
    .content_contact a {
      font-family: "GeorgiaRegular", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .content_contact a:hover {
        color: #fff; }

@media (max-width: 1279px) {
  .wrapper, .pets-page, footer {
    width: 100vw;
    height: auto; }
  header {
    width: 100vw;
    left: 0; }
    header .wrapper {
      width: 92.1875%;
      height: 100%; }
  .pets-page .wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .pets-page h3 {
    width: 100%;
    line-height: 45px;
    margin-bottom: 30px; }
  .pets-page__content {
    max-width: 580px; }
    .pets-page__content_pets {
      height: auto;
      margin-bottom: 10px;
      padding: 0; }
    .pets-page__content_controls {
      margin-bottom: 76px; }
  .pets-page .pets__tile {
    margin-bottom: 30px; }
    .pets-page .pets__tile:nth-child(n+7) {
      display: none; }
  footer {
    padding-top: 31px; }
    footer .wrapper {
      padding: 0 64px 0;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      footer .wrapper .content {
        padding-top: 0;
        margin: 0 0 63px; }
        footer .wrapper .content h3 {
          line-height: 45px; }
        footer .wrapper .content:nth-child(2) {
          padding-left: 1px; }
          footer .wrapper .content:nth-child(2) h3 {
            margin-bottom: 32px; }
          footer .wrapper .content:nth-child(2) div:nth-child(2) {
            margin-bottom: 33px; }
        footer .wrapper .content_image {
          width: 100%; }
          footer .wrapper .content_image .footer_img {
            display: block;
            margin: 0 auto; } }

@media (min-width: 850px) {
  footer .wrapper {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }

@media (max-width: 767px) {
  header {
    left: 0; }
    header .wrapper {
      width: 93.75%; }
    header .logo_subtitle {
      padding-left: 4px; }
    header ul {
      display: none; }
    header nav {
      padding-top: 1px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header nav .burger {
        width: 9.375vw;
        height: 6.875vw;
        margin-right: 13.5vw;
        position: relative; }
        header nav .burger span {
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          background-color: #000; }
          header nav .burger span:nth-child(2) {
            top: -webkit-calc(50% - 1px);
            top: calc(50% - 1px); }
          header nav .burger span:last-child {
            bottom: 0; }
  .pets-page {
    padding-top: 0; }
    .pets-page .wrapper {
      padding: 42px 10px; }
    .pets-page h3 {
      font-size: 25px;
      line-height: 32px;
      height: auto;
      margin-bottom: 42px; }
    .pets-page__content {
      max-width: 530px; }
      .pets-page__content_pets {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 12px; }
        .pets-page__content_pets .pets__tile:nth-child(n+4) {
          display: none; }
      .pets-page__content_controls {
        max-width: 400px;
        width: 100%;
        margin-bottom: 0; }
  footer {
    padding-top: 29px; }
    footer .wrapper {
      padding: 0 10px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      footer .wrapper .content {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        footer .wrapper .content h3 {
          width: 278px;
          font-size: 25px;
          text-align: center;
          margin-bottom: 41px;
          line-height: 32px; }
        footer .wrapper .content_contact {
          width: 78.44vw;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          footer .wrapper .content_contact:last-child {
            margin-bottom: 39px; }
        footer .wrapper .content:nth-child(2) {
          max-width: 300px; }
          footer .wrapper .content:nth-child(2) h3 {
            margin-left: -1px;
            margin-bottom: 41px; }
          footer .wrapper .content:nth-child(2) div {
            width: 100%;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            margin-bottom: 41px; }
            footer .wrapper .content:nth-child(2) div img {
              margin-right: 19px; }
            footer .wrapper .content:nth-child(2) div:nth-child(2) {
              margin-bottom: 39px; }
      footer .wrapper .content_image {
        width: 100%; }
        footer .wrapper .content_image img {
          height: 269px; } }
