@charset "UTF-8";
@font-face {
  font-family: 'GeorgiaRegular';
  src: url("assets/fonts/GeorgiaRegular.eot");
  src: url("assets/fonts/GeorgiaRegular.eot") format("embedded-opentype"), url("assets/fonts/GeorgiaRegular.woff2") format("woff2"), url("assets/fonts/GeorgiaRegular.woff") format("woff"), url("assets/fonts/GeorgiaRegular.ttf") format("truetype"), url("assets/fonts/GeorgiaRegular.svg#GeorgiaRegular") format("svg"); }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
body {
  background-color: #E5E5E5; }

header {
  position: absolute;
  width: 1200px;
  height: 60px;
  top: 60px;
  left: -webkit-calc(50% - 600px);
  left: calc(50% - 600px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header ul {
    padding-top: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 443px; }
    header ul .header_active {
      color: #FAFAFA; }
      header ul .header_active:after {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1); }
    header ul a {
      color: #CDCDCD;
      font-family: "Arial", sans-serif;
      line-height: 24px;
      font-size: 15px;
      font-weight: 400;
      position: relative; }
      header ul a:after {
        position: absolute;
        content: '';
        background-color: #F1CDB3;
        width: 100%;
        height: 3px;
        bottom: -7px;
        left: 0;
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
      header ul a:hover:after {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1); }

.logo {
  width: 186px;
  height: 35px; }
  .logo h1 {
    padding-top: 1px;
    color: #F1CDB3;
    font-size: 32px;
    font-family: "GeorgiaRegular", sans-serif;
    margin-bottom: 10px;
    line-height: 110%;
    letter-spacing: 0.06em; }
  .logo_subtitle {
    font-size: 13px;
    color: #fff;
    letter-spacing: 0.1em;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 15px;
    padding-left: 4px; }

h2 {
  font-size: 44px;
  font-family: "GeorgiaRegular", sans-serif;
  color: #fff;
  width: 310px;
  height: 114px;
  line-height: 130%; }

.main-page {
  margin: 0 auto;
  padding-top: 343px;
  width: 1280px;
  height: 908px;
  background: url("assets/images/bg_main.jpg") no-repeat 50%/contain; }
  .main-page h2 {
    margin-bottom: 42px; }
  .main-page p {
    width: 460px;
    height: 72px;
    color: #CDCDCD;
    margin-bottom: 41px; }
  .main-page .button {
    width: 207px;
    height: 52px; }

.wrapper {
  width: 1200px;
  margin: 0 auto; }

.regular {
  font-size: 15px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px; }

.button {
  background-color: #F1CDB3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "GeorgiaRegular", sans-serif;
  font-size: 17px;
  color: #292929;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-radius: 100px;
  -webkit-transition: 0.075s;
  -o-transition: 0.075s;
  transition: 0.075s; }
  .button:active {
    -webkit-box-shadow: inset 0px 0px 2px 2px black;
            box-shadow: inset 0px 0px 2px 2px black;
    -webkit-transform: translate(2px, 2px);
        -ms-transform: translate(2px, 2px);
            transform: translate(2px, 2px); }

section {
  width: 1280px;
  margin: 0 auto; }

h3 {
  font-family: "GeorgiaRegular", sans-serif;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #545454; }

.about {
  height: 588px;
  padding: 94px 215px 0 635px;
  background: #fff url("assets/images/about-pets.png") no-repeat 215px 80px; }
  .about h3 {
    width: 370px;
    height: 90px;
    margin-bottom: 25px; }
  .about .regular {
    width: 430px;
    color: #4C4C4C;
    margin-bottom: 25px; }

.friends {
  height: 877px;
  padding-top: 80px;
  background-color: #F6F6F6; }
  .friends h3 {
    width: 405px;
    height: 90px;
    margin: 0 auto 60px;
    text-align: center;
    padding-left: 3px; }
  .friends__slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 435px;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    margin-bottom: 60px; }
    .friends__slider_arrow {
      border: 2px solid #F1CDB3;
      width: 52px;
      height: 52px;
      border-radius: 100px;
      cursor: pointer;
      background: url("assets/images/arrow.png") no-repeat 50%;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      .friends__slider_arrow:active {
        -webkit-box-shadow: inset 0px 0px 7px 2px #F1CDB3;
                box-shadow: inset 0px 0px 7px 2px #F1CDB3;
        -webkit-transform: translate(2px, 2px);
            -ms-transform: translate(2px, 2px);
                transform: translate(2px, 2px); }
      .friends__slider_arrow:first-child {
        background-image: url("assets/images/arrow_r.png"); }
    .friends__slider_viewport {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 990px;
      margin: 0 53px; }
  .friends .button {
    width: 261px;
    height: 52px;
    margin: 0 auto;
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s; }
    .friends .button:active {
      -webkit-box-shadow: inset 0px 0px 7px 2px #000;
              box-shadow: inset 0px 0px 7px 2px #000; }

.slide {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .slide:hover {
    -webkit-box-shadow: 0px 0px 50px 7px #cacaca;
            box-shadow: 0px 0px 50px 7px #cacaca; }
  .slide img {
    width: 270px;
    height: 270px; }
  .slide_title {
    margin: 30px 0;
    color: #545454;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    font-family: "GeorgiaRegular", sans-serif;
    font-weight: 400; }
  .slide_button {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    margin: 0 auto;
    border-radius: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #292929;
    letter-spacing: 0.06em;
    font-size: 17px;
    line-height: 130%;
    font-family: "GeorgiaRegular", sans-serif;
    font-weight: 400;
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s; }
    .slide_button:active {
      -webkit-box-shadow: inset 0px 0px 7px 2px #F1CDB3;
              box-shadow: inset 0px 0px 7px 2px #F1CDB3;
      -webkit-transform: translate(2px, 2px);
          -ms-transform: translate(2px, 2px);
              transform: translate(2px, 2px); }

.help {
  width: 1280px;
  height: 611px;
  padding-top: 80px;
  background-color: #fff; }
  .help h3 {
    width: 312px;
    margin: 1px auto 59px;
    padding-left: 2px;
    text-align: center; }

.iconsBlock {
  width: 1026px;
  height: 113px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .iconsBlock:last-child {
    margin-top: 55px;
    width: 858px; }
  .iconsBlock__tile:nth-child(3) .iconsBlock__tile_title {
    margin-left: 1px; }
  .iconsBlock__tile_icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px; }
    .iconsBlock__tile_icon img {
      width: 60px;
      height: 60px; }
  .iconsBlock__tile_title {
    color: #545454;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    font-family: "GeorgiaRegular", sans-serif;
    text-align: center; }
