@import "fonts.scss";
@import "../css/reset";

$ar: 'Arial', sans-serif;
$gr: 'GeorgiaRegular', sans-serif;

body {
	background-color: #E5E5E5;
}

//<!-- ======================section MAIN-PAGE==================== -->

header {
	position: absolute;
	width: 1200px;
	height: 60px;
	top: 60px;
	left: calc(50% - 600px);
	display: flex;
	justify-content: space-between;
	ul {
		padding-top: 16px;
		display: flex;
		justify-content: space-between;
		width: 443px;
		.header_active {
				color: #FAFAFA;
				&:after {
					transform: scale(1);
				}
			}
		a {
			color: #CDCDCD;
			font-family: $ar;
			line-height: 24px;
			font-size: 15px;
			font-weight: 400;
			position: relative;
			&:after {
				position: absolute;
				content: '';
				background-color: #F1CDB3;
				width: 100%;
				height: 3px;
				bottom: -7px;
				left: 0;
				transform: scale(0);
				transition: 0.4s;
			}
			&:hover {
				&:after {
					transform: scale(1);
				}
			}
		}
	}
}
.logo {
	width: 186px;
	height: 35px;
	h1 {
		padding-top: 1px;
		color: #F1CDB3;
		font-size: 32px;
		font-family: $gr;
		margin-bottom: 10px;
		line-height: 110%;
		letter-spacing: 0.06em;
	}	
	&_subtitle {
		font-size: 13px;
		color: #fff;
		letter-spacing: 0.1em;
		font-family: $ar;
		font-weight: 400;
		letter-spacing: 0.1em;
		line-height: 15px;
		padding-left: 4px;
	}
}
h2 {
	font-size: 44px;
	font-family: $gr;
	color: #fff;
	width: 310px;
	height: 114px;
	line-height: 130%;
}
.main-page {
	margin: 0 auto;
	padding-top: 343px;
	width: 1280px;
	height: 908px;
	background: url("assets/images/bg_main.jpg") no-repeat 50%/contain;
	h2 {
		margin-bottom: 42px;
	}
	p {
		width: 460px;
		height: 72px;
		color: #CDCDCD;
		margin-bottom: 41px;
	}
	.button {
		width: 207px;
		height: 52px;
	}
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}
.regular {
	font-size: 15px;
	font-family: $ar;
	font-weight: 400;
	line-height: 24px;
}
.button {
	background-color: #F1CDB3;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $gr;
	font-size: 17px;
	color: #292929;
	line-height: 130%;
	letter-spacing: 0.06em;
	border-radius: 100px;
	transition: 0.075s;
	&:active {
		box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,1);
		transform: translate(2px, 2px);
	}
}


//	<!-- ======================section About======================== -->

section {
	width: 1280px;
	margin: 0 auto;
}
h3 {
	font-family: $gr;
	font-weight: 400;
	font-size: 35px;
	letter-spacing: 0.06em;
	line-height: 130%;
	color: #545454;
}
.about {
	height: 588px;
	padding: 94px 215px 0 635px;
	background: #fff url('assets/images/about-pets.png') no-repeat 215px 80px;
	h3 {
		width: 370px;
		height: 90px;
		margin-bottom: 25px;
	}
	.regular {
		width: 430px;
		color: #4C4C4C;
		margin-bottom: 25px;
	}
}

//	<!-- ======================section Our Friends======================== -->

.friends {
	height: 877px;
	padding-top: 80px;
	background-color: #F6F6F6;
	h3 {
		width: 405px;
		height: 90px;
		margin: 0 auto 60px;
		text-align: center;
		padding-left: 3px;
	}
	&__slider {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 435px;
		flex-wrap: nowrap;
		margin-bottom: 60px;
		&_arrow {
			border: 2px solid #F1CDB3;
			width: 52px;
			height: 52px;
			border-radius: 100px;
			cursor: pointer;
			background: url("assets/images/arrow.png") no-repeat 50%;
			transition: 0.2s;
			&:active {
				box-shadow: inset 0px 0px 7px 2px #F1CDB3;
				transform: translate(2px, 2px);
			}
			&:first-child{
				background-image: url("assets/images/arrow_r.png");
			}
		}
		&_viewport {
			display: flex;
			justify-content: space-between;
			width: 990px;
			margin: 0 53px;
		}
	}
	.button {
		width: 261px;
		height: 52px;
		margin: 0 auto;
		transition: 0.15s;
		&:active {
			box-shadow: inset 0px 0px 7px 2px #000;
		}
	}
}

.slide {
	width: 270px;
	height: 435px;
	background-color: #FAFAFA;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	&:hover{
		box-shadow: 0px 0px 50px 7px #cacaca;
	}
	img {
		width: 270px;
		height: 270px;
	}
	&_title {
		margin: 30px 0;
		color: #545454;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.06em;
		font-family: $gr;
		font-weight: 400;
	}
	&_button {
		width: 187px;
		height: 52px;
		border: 2px solid #F1CDB3;
		margin: 0 auto;
		border-radius: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #292929;
		letter-spacing: 0.06em;
		font-size: 17px;
		line-height: 130%;
		font-family: $gr;
		font-weight: 400;
		transition: 0.15s;
			&:active {
				box-shadow: inset 0px 0px 7px 2px #F1CDB3;
				transform: translate(2px, 2px);
			}
	}
}
