@import "fonts.scss";
@import "../css/reset";

$ar: 'Arialregular', sans-serif;
$ai: 'ArialItalic', sans-serif;
$gr: 'GeorgiaRegular', sans-serif;

body {
	background-color: #E5E5E5;
}

//<!-- ======================section MAIN-PAGE==================== -->

.wrapper {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
h3 {
	font-family: $gr;
	font-weight: 400;
	font-size: 35px;
	letter-spacing: 0.06em;
	line-height: 130%;
	color: #545454;
}

header {
	position: sticky;
	top: 0;
	width: 1280px;
	height: 120px;
	left: calc(50% - 640px);
	background-color: #fff;
	.wrapper {
		align-items: center;
	}

	ul {
		display: flex;
		justify-content: space-between;
		width: 443px;
		height: 28px;
		.nav_active {
				color: #545454;
				&:after {
					transform: scale(1);
				}
			}
		a {
			color: #545454;
			font-family: $ar;
			line-height: 24px;
			font-size: 15px;
			font-weight: 400;
			position: relative;
			transition: 0.4s;
			&:after {
				position: absolute;
				content: '';
				background-color: #F1CDB3;
				width: 100%;
				height: 3px;
				bottom: -6.5px;
				left: 0;
				transform: scale(0);
				transition: 0.3s;
			}
			&:hover {
				color: #292929;
			}
		}
	}
}
.logo {
	width: 186px;
	h1 {
		padding-top: 1px;
		color: #545454;
		font-size: 32px;
		font-family: $gr;
		margin-bottom: 9px;
		line-height: 110%;
		letter-spacing: 0.06em;
	}	
	&_subtitle {
		font-size: 13px;
		color: #292929;
		letter-spacing: 0.1em;
		font-family: $ar;
		font-weight: 400;
		line-height: 15px;
		padding-left: 5px;
	}
}


// -------------------------Pets Page ------------------------------

.pets-page {
	width: 1280px;
	height: 1342px;
	background-color: #F6F6F6;
	margin: 0 auto;
	padding-top: 80px;
	.wrapper {
		flex-wrap: wrap;
		align-content: flex-start;
	}
	h3 {
		padding-left: 2px;
		width: 402px;
		height: 90px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 45px;
	}
	&__content {
		width: 100%;
		&_pets {	
			display: flex;
			height: 930px;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: space-between;
			padding: 15px 0;
			margin-bottom: 45px;
		}
		&_controls {
			width: 340px;
			height: 52px;
			display: flex;
			margin: 0 auto;
			justify-content: space-between;
			.button {
				border: 2px solid #F1CDB3;
				width: 52px;
				height: 52px;
				border-radius: 100px;
				cursor: pointer;
				transition: 0.2s;
				font-family: $gr;
				font-size: 20px;
				line-height: 115%;
				display: flex;
				align-items: center;
				justify-content: center;
				letter-spacing: 0.06em;
				color: #292929;
				background-color: #f6f6f6;
				&.active{
					background-color: #F1CDB3;
				}
				&:hover {
					background-color: #FDDCC4;
					border: 2px solid #FDDCC4;
				}
				&:active {
					box-shadow: inset 0px 0px 7px 2px #F1CDB3;
					transform: translate(2px, 2px);
				}
				&:disabled {
					color: #CDCDCD;
					border: 2px solid #CDCDCD;
				}
				&:hover:disabled {
						background-color: transparent;
				}
			}
		}
	}	
}

.pets {
	&__tile {
	width: 270px;
	height: 435px;
	background-color: #FAFAFA;
	text-align: center;
	cursor: pointer;
	border-radius: 9px;
	transition: 0.3s;
	&:hover{
		box-shadow: 0px 0px 50px 7px #cacaca;
		background-color: #fff;
	}
	img {
		width: 270px;
		height: 270px;
		}
	}
}

.tile_title {
		margin: 30px 0 30px;
		padding-left: 2px;
		color: #545454;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.06em;
		font-family: $gr;
		font-weight: 400;
}
.tile_button {
	width: 187px;
	height: 52px;
	border: 2px solid #F1CDB3;
	margin: 0 auto;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #292929;
	letter-spacing: 0.06em;
	font-size: 17px;
	line-height: 130%;
	font-family: $gr;
	font-weight: 400;
	transition: 0.15s;
	&:hover {
		background-color: #FDDCC4;
		border: 2px solid #FDDCC4;
	}
	&:active {
		transform: translate(2px, 2px);
	}
}
  //-----------------------footer ------------------

  footer {
	width: 1280px;
	height: 350px;
	margin: 0 auto;
	background: url("assets/images/bg_footer.jpg") no-repeat 50%/cover;
	padding-top: 39px;
	.wrapper {
		display: flex;
		.footer_img {
			margin-top: 1px;
		}
	}
}
.content {
	padding-top: 17px;
	margin-right: 159px;
	width: 279px;
	height: 234px;
	h3 {
		color: #fff;
		margin-bottom: 39px;
	}
	&:nth-child(2) {
		width: 303px;
		h3 {
			padding-left: 1px;
			margin-bottom: 33px;
		}
		div:nth-child(2) {
			margin-bottom: 32px;
			img {
				padding-bottom: 0px;
				width: 22px;
				height: 32px;
			}
		}
	}
	&_contact {
		margin-bottom: 40px;
		display: flex;
		align-items: center;
		img {
			margin-right: 20px;

		}
		a {
			font-family: $gr;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 115%;
			letter-spacing: 0.06em;
			color: #F1CDB3;
			transition: 0.3s;
			&:hover {
				color: #fff;
			}
		}
	}
}